body{
	background-color: #c3c8c9;
}
.container{
	max-width: 340px;
	height: 100%;
	background-color: #fff;
	margin: 3px auto;
	box-shadow: 0px 0px 25px #202020;
}
.headerpics{
	width:100%;
	min-height:170px;
	background-position: cover;
	margin-top: -1.2em;
}
.profile-picture{
	position:relative;

}
.profile-pics{
	max-width: 120px;
	border-radius:50%;
	object-fit:contain;
	border:2px solid #f7fdff;
	position:absolute;
	left: calc(50% - 65px);
	top:-60px;
	box-shadow: 0 0 8px #000;
}

.description{
	text-align: center;
	padding-left:30px;
	padding-right:30px;
	padding-top:4em;
}
.stats-container{
	border-bottom:1px solid #c3c8c9;
	padding-bottom:0.5em;
	border-top:.5px solid #c3c8c9;
}
.stat{
	display:inline-block;
	margin:3px;
	width:19.9%;
	padding-right: 2px;
	text-align:center;
	border-right: 1px solid #c3c8c9;
}
.stat-first{
	display:inline-block;
	margin:3px;
	width:19.9%;
	padding-right: 7px;
	text-align:center;
	border-right: 1px solid #c3c8c9;
}

.text{
	color:#707070;
	font-weight:2em;
	font-style: bold;
}

.stat-like{
	display: inline-block;
	text-align:center;
	padding-right: 5px;
	border-right: 1px solid #c3c8c9;
	width:19.9%;
	color:orange;
}

.stat-last{
	padding-left:4px;
	border:none;
	display:inline-block;
	text-align: center;
}
.view-options{
	border-bottom: 1px solid #c3c8c9;
}
.view-option{
	display: inline-block;
	width:49%;
	color:orange;
	text-align: center;
	padding: .6em 0;
}
.view-option-list{
	display: inline-block;
	width:49%;
	margin:.6em 0;
	text-align: center;
	border-left:1px solid #c3c8c9;

}
.pictures-pool{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.pictures{
	width: 33%;
	height: 33%;
	margin-bottom:2px;
}